<div *ngIf="info" id="{{ 'id' + info.id }}" (mouseover)="hover=true" (mouseleave)="hover=false" class="autoGrid" [ngStyle]="{border: hover  ?  '5px solid '+info.color : '5px solid #8497a0'}">
  <h2>#{{info.id}}</h2>
  <a target="_blank" href="{{info.link}}">
    <h3  data-toggle="tooltip" data-placement="top" title="{{info.name}}">{{info.name.length < 12 ? info.name : info.code}}</h3>
    <img id="{{ info.id }}" data-toggle="tooltip" data-placement="bottom"
      title="{{info.description === null ? 'No description available' : info.description}}" src="{{info.symbol}}"
      height="50" width="50" alt="{{info.name}}">
  </a>
  <h4>{{info.value}} USD</h4>
</div>