div {
  background-color: #eaf7ff;
  font-size: 0.9rem;
  width: 180px;
  height: 250px;
  padding: 10px;
  margin: 20px;
  font-family: 'future'; 
}
.autoGrid {
  white-space: normal;
  display: inline-block;
  border-radius: 20px;
}
img {
  cursor: pointer;
}
div:hover {
background-color: #edf1f3;
}
h3 { 
font-size: 23px;
}
a {
color: inherit;
text-decoration: inherit;
}