<!--The content below is only a placeholder and can be replaced.-->

<!-- Header -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Developer: Gonzalo del Corral</p>
    </div>
    <ul data-toggle="tooltip" data-placement="bottom" title="Developer's LinkedIn" class="nav navbar-nav navbar-right">
      <li><a target="_blank" href="https://www.linkedin.com/in/gonzalodelcorral/">LinkedIn</a></li>
    </ul>
  </div>
</nav>
<!--End Header -->

<!-- Main -->
<div class="mainContainer">
  <h1>
    {{ title }}
  </h1>
  <div style="padding-bottom: 10px;" *ngIf="cryptoObjects.length>0">
    <input onkeypress="return /[a-z]/i.test(event.key)" [(ngModel)]="searchInput" placeholder="Search" type="text"
      class="form-control">
    <ng-container *ngFor="let crypto of cryptoObjects | searchfilter : searchInput">
      <app-box [info]="crypto"></app-box>
    </ng-container>
    <div class="noResults" *ngIf="(cryptoObjects | searchfilter: searchInput).length === 0">
      <h1>No results found for '{{searchInput}}'</h1>
    </div>
  </div>
  <ngx-spinner type="ball-running-dots" fullScreen=false color="#1d2123" bdColor="transparent"></ngx-spinner>
</div>
<div
class="search-results"
infiniteScroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="350"
(scrolled)="onScroll()"
></div>
<!-- End Main -->

<!-- Footer -->
<footer class="footerStyle">
  <div class="footerContent">
    <a target="_blank" data-toggle="tooltip" data-placement="top" title="Developer's GitHub" style="color: inherit;"
      href="https://www.github.com/Gecete/">Copyright &copy; www.github.com/Gecete</a>
  </div>
</footer>
<!-- End Footer -->