<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div *ngIf="cryptoObjects.length>0">

  <input [(ngModel)]="searchInput" placeholder="Search" type="text"  class="form-control">
  <ng-container *ngFor="let crypto of cryptoObjects | searchfilter : searchInput">
    <app-box [info]="crypto"></app-box>
  </ng-container>
  <div class="noResults" *ngIf="(cryptoObjects | searchfilter: searchInput).length === 0">
    <h1>No results found for '{{searchInput}}'</h1>
  </div>
  <ngx-spinner type="ball-running-dots" fullScreen=false color="#1d2123" bdColor="transparent"></ngx-spinner>
</div>
<div
class="search-results"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
></div>
</div>

